/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
        margin-right: 50px;
        margin-left: 50px;
        margin-bottom: 60px;
        width: 93%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
      
        
      }

      body{

        background-image: linear-gradient(to right, rgba(49, 241, 43, 0.144),rgba(255,0,0,0) );

      }
      
      #form{

       margin-left: 50px;
       margin-right: 50px;


      }

      button{

        text-align: center;
        align-content: center;
        color: black;
      }

      #Titulo{
        text-align: center; 
        font-family: Comic Sans MS; 
        font-weight:bold; 
        font-size: 65px; 
        color: rgb(18, 178, 199); 
        text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68, 6px 6px #414D68;
        }
      
    
        